<div class="modal-header">
  <h3>Update Video Info</h3>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form enctype="multipart/form-data">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group">
      <label class="control-label">Grade</label>
      <select type="text" class="form-control" ng-model="video.grade" >
        <option value="K">K</option>
        <option value="1st">1</option>
        <option value="2nd">2</option>
        <option value="3rd">3</option>
        <option value="4th">4</option>
        <option value="5th">5</option>
      </select>
      </div>
  
      <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 form-group">
      <label class="control-label">Subject</label>
      <select type="text" class="form-control" ng-model="video.subject" >
        <option>Math</option>
        <option>Writing</option>
        <option>Reading</option>
        <option>Language</option>
        <option>Other</option>
      </select>
      </div>
  
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group">
        <label class="control-label">Chapter</label>
        <input type="text" class="form-control" ng-model="video.chapter" ng-change="clear()">
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 form-group">
        <label class="control-label">Lesson</label>
        <input type="text" class="form-control" ng-model="video.lesson" ng-change="clear()">
      </div>
    </div>  

    <div class="row">  
      
      <div class="form-inline col-xs-6 col-sm-5 col-md-5 col-lg-5">
      <div class="col-xs-12">
        <label class="col-form-label" style="text-align:left;">Expire</label>
      </div>
      <div class="input-group col-xs-9 col-sm-9 col-md-8 col-lg-9">
        <input type="text" class="form-control" ng-model="video.expireDate" 
        uib-datepicker-popup="{{format}}"
        is-open="popup2.opened"/>
        <span class="input-group-btn">          
        <button type="button" class="btn btn-default" ng-click="open2()">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 form-group">
        <label class="control-label">Title</label>
        <input type="text" class="form-control" ng-model="video.description" ng-change="clear()">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
        <label class="control-label">Video Link</label>
        <input type="text" class="form-control" ng-model="video.url" ng-change="clear()">
      </div>
    </div>
    
  </form>
  </div>
</div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="update()">Update</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>