<navigation client="vm.client"></navigation>
<div class="container">
  <h2>{{vm.header.title}}</h2>
  <div class="row">
    <div class="col-sm-1">
      <div class="btn btn-primary">
        <input type="checkbox" ng-model="vm.all" ng-change="vm.toggleAll()"/>&nbsp;All
      </div>
    </div>
    <div class="col-sm-8" style="text-align: center; margin: auto">
      <span ng-repeat="grade in vm.allGrades">
        <button style="border:1px solid black" class="btn Grade-{{grade}}">{{grade}} ({{ vm.counts[grade] }})</button>
      </span>
      <span style="font-weight: bold; position:relative; top: 2px">&nbsp;&nbsp;{{ vm.header.date | date }} ({{ vm.total }} students)</span>
    </div>
    <div class="col-sm-3">
      <div class="btn btn-default pull-right">
  	    {{ vm.checkTotal }}
      </div>
      <input type="submit" class="btn btn-success pull-right" ng-disabled="vm.checkTotal == 0" ng-click="vm.composeMail()" value="Compose Email" />
    </div>
  </div>
  
  <div ng-repeat="grade in vm.grades | filter: {_id:'TK'}">
    <div class="col-sm-4">
    <div style="border:1px solid black; border-radius: 10px; margin: 10px 0 10px 0; padding: 10px">
      <div class="btn Grade-{{grade._id}}">
        <input type="checkbox" ng-model="vm.select[grade._id]" ng-change="vm.toggle(grade._id)"/>
        &nbsp;<span class="name-tag ">{{ grade._id }}</span>
      </div>
      <br/>
      <div class="btn btn-default" ng-repeat="user in grade.users">
        <input type="checkbox" ng-model="user.select" ng-change="vm.checkCount(user.select, {{user.select || false}})"/>
        &nbsp;<span class="name-tag btn Grade-{{grade._id}}">{{ user.name }}</span>
      </div>
    </div>
    </div>
  </div>
  
  <div ng-repeat="grade in vm.grades | filter: {_id:'K'}:true">
    <div class="col-sm-4">
    <div style="border:1px solid black; border-radius: 10px; margin: 10px 0 10px 0; padding: 10px">
      <div class="btn Grade-{{grade._id}}">
        <input type="checkbox" ng-model="vm.select[grade._id]" ng-change="vm.toggle(grade._id)"/>
        &nbsp;<span class="name-tag ">{{ grade._id }}</span>
      </div>
      <br/>
      <div class="btn btn-default" ng-repeat="user in grade.users">
        <input type="checkbox" ng-model="user.select" ng-change="vm.checkCount(user.select, {{user.select || false}})"/>
        &nbsp;<span class="name-tag btn Grade-{{grade._id}}">{{ user.name }}</span>
      </div>
    </div>
    </div>
  </div>
  
  <div ng-repeat="grade in vm.grades | filter: vm.getStudents">
    <div class="col-sm-4">
    <div style="border:1px solid black; border-radius: 10px; margin: 10px 0 10px 0; padding: 10px">
      <div class="btn Grade-{{grade._id}}">
        <input type="checkbox" ng-model="vm.select[grade._id]" ng-change="vm.toggle(grade._id)"/>
        &nbsp;<span class="name-tag">{{ grade._id }}-Grade</span>
      </div>
      <br/>
      <div class="btn btn-default" ng-repeat="user in grade.users">
        <input type="checkbox" ng-model="user.select" ng-change="vm.checkCount(user.select, {{user.select || false}})"/>
        &nbsp;<span class="name-tag btn Grade-{{grade._id}}">{{ user.name }}</span>
      </div>
    </div>
    </div>
  </div>
  
  <footer-generic></footer-generic>
</div>
