<navigation client="vm.client"></navigation>
<div class="container">
<div class="col-sm-4 col-sm-offset-4 centered" style="background: black; border-radius: 10px; opacity: .7;">
<form ng-submit="vm.onSubmit()">
  <h3 class="title">{{vm.pageHeader.title}}</h3>
  <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
  
  <div class="form-group">
    <input type="text" name="firstName" placeholder="First name"
    ng-model="vm.credentials.firstName" class="form-control" >
    <input type="text" name="lastName" placeholder="Last name"
    ng-model="vm.credentials.lastName" class="form-control" >
    <input type="text" name="email" placeholder="Email"
    ng-model="vm.credentials.email" class="form-control" >
  </div>
 
  <button type="submit" class="btn btn-primary">Reset Password</button>
  <div>&nbsp;</div>
</form>
</div>
</div>
<footer-generic></footer-generic>