link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css')
//- link(rel='stylesheet', href='https://mladenplavsic.github.io/bootstrap-navbar-sidebar/navbar-fixed-right.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.2.4/jspdf.plugin.autotable.min.js')
script(src='https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js')


script(src='/asgApp.js')
script(src='/home/asg.controller.js')
script(src='/home/client.controller.js')
script(src='/home/about.controller.js')
script(src='/common/services/authentication.service.js')
script(src='/common/services/workbook.service.js')
script(src='/common/services/video.service.js')
script(src='/common/services/fileUpload.service.js')
script(src='/common/services/email.service.js')
script(src='/common/directives/navigation/navigation.directive.js')
script(src='/common/directives/navigation/navigation.controller.js')
script(src='/common/directives/footerGeneric/footerGeneric.directive.js')
//- script(src='/common/directives/autoResize.js')
script(src='/auth/login/login.controller.js')
script(src='/auth/login/forgotPassword.controller.js')
script(src='/auth/login/resetPassword.controller.js')
script(src='/auth/signup/signup.controller.js')
script(src='/auth/signup/signupDone.controller.js')
script(src='/auth/signup/confirm.controller.js')
script(src='/roster/grades.controller.js')
script(src='/roster/schools.controller.js')
script(src='/roster/districts.controller.js')
script(src='/email/grades.controller.js')
script(src='/email/schools.controller.js')
script(src='/email/districts.controller.js')
script(src='/admin/editUser.controller.js')
script(src='/admin/removeUser.controller.js')
script(src='/admin/export.controller.js')
script(src='/admin/upload.controller.js')
script(src='/admin/loginUser.controller.js')
script(src='/admin/assign.controller.js')
script(src='/pickup/all.controller.js')
script(src='/pickup/child.controller.js')
script(src='/pickup/parentChild.controller.js')
script(src='/logbook/message.controller.js')
script(src='/logbook/teacherMessage.controller.js')
script(src='/logbook/checkIn.controller.js')
script(src='/logbook/checkInRpt.controller.js')
script(src='/calendar/district.controller.js')
script(src='/workbook/upload.controller.js')
script(src='/workbook/assign.controller.js')
script(src='/workbook/assignment.controller.js')
script(src='/workbook/review.controller.js')
script(src='/workbook/transfer.controller.js')
script(src='/workbook/combined.controller.js')
script(src='/workbook/manage.controller.js')
script(src='/video/upload.controller.js')
script(src='/video/manage.controller.js')
script(src='/video/select.controller.js')
script(src='/video/watch.controller.js')